In [1]:
import pandas as pd
df=pd.read_csv("info.csv")
df

   number    name  age  marks branch gender
0       1    rani   12     10    cse      f
1       2    vani   16     15    cse      f
2       3   ramya   19     20    ece      f
3       4   kavya   17     22    ece      f
4       5  bhavya   11     17     me      f
5       6    ravi   10     16     me      m
6       7    ragu   18     15    eee      m
7       8   swami   13     19    eee      m
8       9  bhadra   14     22    cse      m

In [6]:
print(df.groupby(["gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FDCED67940>

In [61]:
a=df.groupby(["gender","branch"])
a

In [50]:
print(a.groups)

{('cse', 'f'): [0, 1], ('cse', 'm'): [8], ('ece', 'f'): [2, 3], ('eee', 'm'): [6, 7], ('me', 'f'): [4], ('me', 'm'): [5]}

In [58]:
import pandas as pd
print(df.groupby(["branch","marks"]).max())

              number    name  age gender
branch marks
cse    10          1    rani   12      f
       15          2    vani   16      f
       22          9  bhadra   14      m
ece    20          3   ramya   19      f
       22          4   kavya   17      f
eee    15          7    ragu   18      m
       19          8   swami   13      m
me     16          6    ravi   10      m
       17          5  bhavya   11      f

In [16]:
print(df.groupby("branch").min())

        number    name  age  marks gender
branch
cse          1  bhadra   12     10      f
ece          3   kavya   17     20      f
eee          7    ragu   13     15      m
me           5  bhavya   10     16      f

In [9]:
print(df.groupby("gender").mean())

        number    age  marks
gender
f          3.0  15.00   16.8
m          7.5  13.75   18.0

In [63]:
print(df.groupby(["branch"]).sum())

        number  age  marks
branch
cse         12   42     47
ece          7   36     42
eee         15   31     34
me          11   21     33

In [20]:
print(df.groupby(["branch"]).groups)

{'cse': [0, 1, 8], 'ece': [2, 3], 'eee': [6, 7], 'me': [4, 5]}

In [22]:
print(df.groupby(["gender"]).groups)

{'f': [0, 1, 2, 3, 4], 'm': [5, 6, 7, 8]}

In [23]:
print(df.groupby(["age"]).groups)

{10: [5], 11: [4], 12: [0], 13: [7], 14: [8], 16: [1], 17: [3], 18: [6], 19: [2]}

In [24]:
print(df.groupby(["marks"]).groups)

{10: [0], 15: [1, 6], 16: [5], 17: [4], 19: [7], 20: [2], 22: [3, 8]}

In [84]:
x=df.groupby(["gender"])
print(x.get_group("m"))

   number    name  age  marks branch gender
5       6    ravi   10     16     me      m
6       7    ragu   18     15    eee      m
7       8   swami   13     19    eee      m
8       9  bhadra   14     22    cse      m

In [27]:
print(g.get_group("f"))

   number    name  age  marks branch gender
0       1    rani   12     10    cse      f
1       2    vani   16     15    cse      f
2       3   ramya   19     20    ece      f
3       4   kavya   17     22    ece      f
4       5  bhavya   11     17     me      f

In [68]:
g=df.groupby(["age"])
print(g.get_group(18))

   number  name  age  marks branch gender
6       7  ragu   18     15    eee      m

In [34]:
print(g.get_group(10))

   number  name  age  marks branch gender
5       6  ravi   10     16     me      m

In [35]:
df["gender"].value_counts()

f    5
m    4
Name: gender, dtype: int64

In [36]:
df["marks"].value_counts()

15    2
22    2
10    1
20    1
17    1
16    1
19    1
Name: marks, dtype: int64

In [37]:
df["age"].value_counts()

12    1
16    1
19    1
17    1
11    1
10    1
18    1
13    1
14    1
Name: age, dtype: int64

In [39]:
df["name"].value_counts()

rani      1
vani      1
ramya     1
kavya     1
bhavya    1
ravi      1
ragu      1
swami     1
bhadra    1
Name: name, dtype: int64

In [49]:
a=df.groupby(["branch","gender"])
print(a.groups)

{('cse', 'f'): [0, 1], ('cse', 'm'): [8], ('ece', 'f'): [2, 3], ('eee', 'm'): [6, 7], ('me', 'f'): [4], ('me', 'm'): [5]}

In [51]:
a=df.groupby(["name","age"])
print(a.groups)

{('bhadra', 14): [8], ('bhavya', 11): [4], ('kavya', 17): [3], ('ragu', 18): [6], ('ramya', 19): [2], ('rani', 12): [0], ('ravi', 10): [5], ('swami', 13): [7], ('vani', 16): [1]}

In [53]:
a=df.groupby(["branch","marks"])
print(a.groups)

{('cse', 10): [0], ('cse', 15): [1], ('cse', 22): [8], ('ece', 20): [2], ('ece', 22): [3], ('eee', 15): [6], ('eee', 19): [7], ('me', 16): [5], ('me', 17): [4]}

In [3]:
import pandas as pd
df=pd.read_csv("info.csv")
df.corr()

          number       age     marks
number  1.000000 -0.142374  0.518545
age    -0.142374  1.000000  0.328866
marks   0.518545  0.328866  1.000000

In [30]:
x=df.groupby(["gender"])
print(x["marks"].sum())

gender
f    84
m    72
Name: marks, dtype: int64

In [47]:
x=df(["age"]>18)
y=df["name",x]
print(y)

TypeError: '>' not supported between instances of 'list' and 'int'

In [75]:
print(df.groupby(["name"]).sum())

        number  age  marks
name
bhadra       9   14     22
bhavya       5   11     17
kavya        4   17     22
ragu         7   18     15
ramya        3   19     20
rani         1   12     10
ravi         6   10     16
swami        8   13     19
vani         2   16     15

In [100]:
x=df(["name"],["marks"])
x

TypeError: 'DataFrame' object is not callable